[Unit]
Description=Timer for copying backups to accessible directory

[Timer]
OnCalendar=*-*-* 02:05
Persistent=true

[Install]
WantedBy=timers.target